spring:
  application:
    name: bootcamp
  datasource:
    url: jdbc:postgresql://localhost:5432/SoporteTecnico
    username: postgres
    password: admin123
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true